*{
  margin: 0px;
  padding: 0px;
  font-family: 'Montserrat', sans-serif;
}
body{
  background-image: url('../img/wall_bg.jpg');
  background-size: cover;
}
header{
  height: 90px;
  margin-top: -20px;
}
  header h1{
    padding: 20px 30px;
    font-size: 45px;
  }
main{
  padding: 10px 0px 10px 30px;

  background-size: cover;
}
  main .post{
    background-image: url('../img/post_note.png');
    background-size: cover;
    width: 250px;
    height: 215px;
    padding: 30px;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 30px;
    margin-right: 10px;
  }
  main form, #btn_submit{
    display: block;
    margin-top: 15px;
  }
